
/* Your CSS Code here. */

/* Your CSS Code here. */
table,th,tr,td{
    border: 1px solid red;
    /* display: flex; */
    /* text-align: center; */
    /* justify-content: center; */
}
.tom{
     display: flex;
    text-align: center;
    justify-content: center;
}